/*! IDF Challenge — Oct.2017 — joao rosado */
/*
 *
 *
 *    INDEX
 *
 *    $1. Settings and Vars
 *    $2. High-level styling
 *       - page and elements
 *    $3. Objects
 *       - helpers
 *       - icons
 *       - buttons
 *       - containers
 *    $4. Components
 *       - Steps Breadcrumb
 *       - Entries List
 *       - Forms
 *       - Footer Navigation
 *    $5. Media Queries
 *
 *
 */
/* ==========================================================================
	$1. Settings and Vars
   ========================================================================== */
:root {
	/*type*/
	--font-family            : "Arial", sans-serif;
	--font-size              : 1rem;
	--line-height            : calc(var(--font-size) * 1.5);
	/*spacing and sizing*/
	--spacer-unit            : var(--line-height);
	--spacer-unit--small     : calc(var(--line-height) / 2);
	--spacer-unit--large     : calc(var(--line-height) * 2);
	/*colors*/
	--color-dark             : #000;
	--color-light            : #fff;
	--color-primary          : #009cde;
	--color-secondary        : #ff0000;
	--color-accent           : #F46036;
	--color-dark--lowOpacity : rgba(0,0,0,0.1);
	--color-dark--midOpacity : rgba(0,0,0,0.3);
	/*color map*/
	--base-bg-color          : var(--color-light);
	--base-txt-color         : var(--color-dark);
	--base-action-color      : var(--color-primary);
	/*color map*/
	--base-bg-color          : var(--color-light);
	--base-txt-color         : var(--color-dark);
}
/* ==========================================================================
	$2. High-level styling
   ========================================================================== */
/**
 *
 * 1. make scrollbar visible to avoid jumps when navigatig between pages
      with/without enough content to have scroll.
 * 2. make flexbox sticky footer work. Despite the fixed height, content will
 *    overflow with no impact.
 *
 */
html {
    overflow-y.      : scroll; /* 1 */
    height.          : 100%; /* 2 */
	box-sizing       : border-box;
	background-color : var(--color-dark--lowOpacity);
	font-family      : var(--font-family);
	font-size        : var(--font-size);
	color            : var(--color-dark);
	line-height      : var(--line-height);
}

*,
*::before,
*::after { box-sizing : inherit; }

body {
	display        : flex;
	flex-direction : column;
	height: 100%; /* 2 */
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin      : 0;
	padding     : 0;
	font-weight : normal;
	list-style  : none;
}

h1.margin,
h2.margin,
h3.margin,
h4.margin,
h5.margin,
h6.margin { margin-bottom : 1em; }

/* modular sclae for heading based on "perfect fourth" ratio (1.333)*/
h1, .h1, .tera { font-size: 4.209rem; line-height: 1em; }

h2, .h2, .giga { font-size: 3.157rem; line-height: 1em; }

h3, .h3, .mega { font-size: 2.369rem; line-height: 1em; }

h4, .h4, .kilo { font-size: 1.777rem; line-height: 1em; }

h5, .h5, .hecto { font-size: 1.333rem; line-height: 1em; }

h6, .h6, .deca { font-size: 1rem; line-height: 1em; }

a {
	color           : var(--base-action-color);
	text-decoration : none;
}

a:hover,
a:active,
a:focus {
	cursor          : pointer;
	color           : var(--color-accent);
	text-decoration : underline;
}

/* 	Helpers
   ========================================================================== */

.i { font-style: italic; }

.b { font-weight: bold; }

.underline { text-decoration: underline; }

.strike { text-decoration: line-through; }

.ttc { text-transform: capitalize; }

.ttu { text-transform: uppercase; }


/* 	Icons
   ========================================================================== */

[class^="icon-"], [class*=" icon-"] {
	display : block;
	height  : 16px;
	width   : 16px;
	fill    : currentColor;
	flex    : none;
}

/* 	Buttons
   ========================================================================== */
.btn {
	display          : inline-block;
	margin           : 0;
	padding          : var(--spacer-unit--small) var(--spacer-unit);
	cursor           : pointer;
	background-color : var(--base-action-color);
	color            : var(--color-light);
	text-align       : center;
	border           : 1px solid transparent;
	border-radius    : 2px;
}

.btn:hover, .btn:active, .btn:focus {
	background-color : var(--color-accent);
	color            : var(--color-light);
	text-decoration  : none;
}

.btn--pop { box-shadow : 0 1px 2px 0 var(--color-dark--midOpacity); }

.btn--ghost {
	background-color : transparent;
	color            : var(--color-dark--midOpacity);
	border-color     : var(--color-dark--midOpacity);
}

.btn--ghost:hover, .btn--ghost:active, .btn--ghost:focus {
	background-color : var(--color-dark--lowOpacity);
	color            : var(--color-dark--highOpacity);
	border-color     : var(--color-dark--midOpacity);
}

.btn--small {
	padding     : calc(var(--spacer-unit--small) / 3);
	font-size   : var(--font-size);
	--font-size : 0.75rem;
}

.btn--w-icon {
	display     : flex;
	width       : auto;
	align-items : center;
}

.btn--w-icon .btn__label { display : inline-block; }

.btn--w-icon [class^="icon-"] { margin-right : calc(var(--spacer-unit--small) / 3); }

.btn--mute { background-color : var(--color-dark--midOpacity); }

/* 	Containers
   ========================================================================== */
 /**
 *
 * 1. make sticky footer work
 *
 */
.container {
	width     : 100%;
	max-width : 50rem;
	margin    : 0 auto;
	padding   : var(--spacer-unit);
	flex.     : 1 0 auto; /* 1 */
}

.wrap { margin-bottom : var(--spacer-unit--large); }

.box {
	padding          : var(--spacer-unit);
	background-color : var(--color-light);
	border-radius    : 2px;
	box-shadow       : 0 2px 3px 0 var(--color-dark--midOpacity);
}

.footer {
	background-color : var(--color-dark--lowOpacity);
	text-align       : center;
}

/* ==========================================================================
	$3. Components
   ========================================================================== */
/* 	Steps Breadcrumb
   ========================================================================== */
/**
 *
 * 1. use pseudo elements to create triangles between steps.
 * 2. --spacer-unit is half of the item height. this way, border-top plus
     border-bottom make for the item height.
 * 3. displace ::after triangle horizontally to create a chevron-like effect.
 * 4. hide text by default, using a kind of Img.Repl. technique.
 * 5. remove triangles on the last step for better affordance (to not confuse
 *    the user with a possible next step)
 *
 */

.steps {
	counter-reset : step-counter;
	display       : flex;
}

.steps__item {
	counter-increment : step-counter;
	position          : relative;
	display           : flex;
	height            : var(--spacer-unit--large);
	padding           : 0 var(--spacer-unit);
	background-color  : grey;
	color             : grey;
	flex              : 1;
	align-items       : center;
	justify-content   : center;
}

.steps__item::after, .steps__item::before /* 1 */ {
	content            : '';
	position           : absolute;
	top                : 0;
	left               : 100%;
	z-index            : 1;
	height             : 0;
	width              : 0;
	border             : var(--spacer-unit) solid transparent; /* 2 */
	border-right-width : 0;
	border-left-color  : var(--color-light);
	border-left-width  : 1rem;
}

.steps__item::after /* 3 */ {
	transform         : translateX(-1px);
	border-left-color : currentColor;
}

.steps__label {
	position : relative;
	color    : var(--color-light);
}

.steps__label span {
	display : inline-block;
	text-indent: -9999px; /* 4 */
}

.steps__label::after { content : counter(step-counter); }

.steps__item:first-of-type, .steps__item:first-of-type { border-radius : 2px 0 0 2px; }

.steps__item:last-of-type, .steps__item:last-of-type { border-radius : 0 2px 2px 0; }

.steps__item:last-of-type::after, .steps__item:last-of-type::before {
	display.      : none; /* 5 */
	border-radius : 0 2px 2px 0;
}

.steps__item.is-active {
	background-color : var(--color-accent);
	color            : var(--color-accent);
}

/* 	Entries List
   ========================================================================== */
/*.entries-list {  }*/
.entries-list__item {
	display        : flex;
	margin-bottom  : var(--spacer-unit--small);
	flex-direction : column;
	align-items    : flex-start;
}

.entries-list__action {
	display    : block;
	margin     : var(--spacer-unit) 0 var(--spacer-unit--large);
	padding    : var(--spacer-unit--small);
	text-align : center;
}

.entry {
	display         : flex;
	width           : 100%;
	padding         : var(--spacer-unit--small);
	align-items     : center;
	justify-content : space-between;
}

.entries-list__item:nth-child(even) .entry {
	background-color : var(--color-dark--lowOpacity);
	color            : var(--color-light);
}

.entry [class^="icon-"] { color : var(--color-dark); }

.entry [class^="icon-"]:hover { color : var(--color-accent); }

/* 	Forms
   ========================================================================== */
/**
 *
 * 1. hide native checkbox input
 * 2. hide labels for text and email inputs
 *
 */
/*.form {}*/
.form__field {
	position      : relative;
	display       : block;
	width         : 100%;
	margin-bottom : calc(var(--spacer-unit--small) / 2);
	flex          : 1;
}

.form__field--icon {
	width : initial;
	flex  : 0 0 auto;
}

.form__field input[type=text], .form__field input[type=email] {
	width         : 100%;
	padding       : var(--spacer-unit--small);
	border        : 1px solid var(--color-dark--midOpacity);
	border-radius : 2px;
	box-shadow    : inset 0 1px 2px 0 var(--color-dark--lowOpacity);
}

.form__field--checkbox input[type=checkbox] {
	position : absolute;
  	left: -9999px; /* 1 */
}

.form__field--text label, .form__field--email label{
	position : absolute;
  	left: -9999px; /* 2 */
}

.form__field--checkbox label{
	display     : flex;
	cursor      : pointer;
	color       : grey;
	align-items : center;
}

.form__field--checkbox label::before{
	content       : '';
	display       : inline-block;
	height        : calc(var(--spacer-unit--small) / 2);
	width         : calc(var(--spacer-unit--small) / 2);
	margin-right  : var(--spacer-unit--small);
	border        : 2px solid var(--color-light);
	border-radius : 1px;
	box-shadow    : 0 0 0 2px var(--color-dark--midOpacity), inset 0 0 0 0 var(--color-accent);
}

.form__field--checkbox label:hover::before{
	box-shadow : 0 0 0 2px var(--color-dark--midOpacity), inset 0 0 0 20px var(--color-dark--midOpacity);
}

.form__field--checkbox input[type=checkbox]:checked + label::before {
	box-shadow : 0 0 0 2px var(--color-accent), inset 0 0 0 20px var(--color-accent);
}

.form__header { margin-bottom : var(--spacer-unit); }

.form__actions { display : block; }

.form__actions button {
	display : block;
	width   : 100%;
	margin  : 0 0 var(--spacer-unit--small);
	flex    : 1 1 auto;
}

.form__notes {
	display         : flex;
	padding         : var(--spacer-unit--small) 0 0;
	font-size       : var(--font-size);
	border-top      : 1px solid var(--color-dark--lowOpacity);
	--font-size     : 0.75rem;
	align-items     : center;
	justify-content : flex-end;
}

.form__notes .form__field { flex : 0 1 auto; }

/* 	Footer Navigation
   ========================================================================== */
/*.footer-nav {}*/

.footer-nav__link {
	display : block;
	margin  : 0 var(--spacer-unit--small);
	padding : var(--spacer-unit--small);
}

/* ==========================================================================
	$5. Media Queries
   ========================================================================== */
@media screen and (min-width: 50rem) {
	/* -- Buttons -- */
	/*
	 * 1. hide label on buttons with icon. This is somehow contraditory and just
	 *    for layout purposes
	*/
	.btn--ghost { border-color : transparent;}

	.btn--small { padding : calc(var(--spacer-unit--small) / 2); }

	.btn--w-icon .btn__label { text-indent: -9999px; /* 1 */ }

	.btn--w-icon [class^="icon-"] { margin-right : 0; }


	/* -- Steps Breadcrumb -- */
	.steps__item { padding : 0 var(--spacer-unit--large); }

	.steps__label span {
		display      : inline-block;
		margin-right : 0.5rem;
		text-indent  : 0;
	}
	.entries-list__item {
		flex-direction : row;
		align-items    : center;
	}
	.entries-list__action {
		display    : inline-block;
		margin     : initial;
		padding    : initial;
		text-align : initial;
	}

	/* -- Entries List -- */
	/*
	 * 1. this would not be needed if we opted to use some kind of grid system
	 *    with gutter control
	*/
	.entries-list__item .form__field:not(:first-child) { padding-left: var(--spacer-unit--small); /* 1 */ }

	/* -- Forms -- */
	.form__field {
		width         : initial;
		margin-bottom : 0;
	}
	.form__actions {
		display         : flex;
		margin          : var(--spacer-unit) 0 var(--spacer-unit--small);
		flex-wrap       : wrap;
		align-items     : center;
		justify-content : flex-end;
	}
	.form__actions button {
		display : initial;
		width   : initial;
		margin  : initial;
		flex    : 0 1 auto;
	}
	.form__actions input[type=submit] { margin-left: var(--spacer-unit--small); /* 1 */ }

	/* -- Footer Nav -- */
	.footer-nav {
		display         : flex;
		align-items     : center;
		justify-content : center;
	}
}