<!doctype html>
<html lang="en">
<head>
    <title>IDF Challenge — João Rosado</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-remove" viewBox="0 0 512 512">
      <path d="m405 137l-30-30-119 119-119-119-30 30 119 119-119 119 30 30 119-119 119 119 30-30-119-119z"/>
    </symbol>
    <symbol id="icon-delete" viewBox="0 0 512 512">
      <path d="m201 210l0 165c0 3-1 5-2 6-2 2-4 3-7 3l-18 0c-3 0-5-1-7-3-2-1-2-3-2-6l0-165c0-2 0-5 2-6 2-2 4-3 7-3l18 0c3 0 5 1 7 3 1 1 2 4 2 6z m73 0l0 165c0 3-1 5-2 6-2 2-4 3-7 3l-18 0c-3 0-5-1-7-3-1-1-2-3-2-6l0-165c0-2 1-5 2-6 2-2 4-3 7-3l18 0c3 0 5 1 7 3 1 1 2 4 2 6z m73 0l0 165c0 3 0 5-2 6-2 2-4 3-7 3l-18 0c-3 0-5-1-7-3-1-1-2-3-2-6l0-165c0-2 1-5 2-6 2-2 4-3 7-3l18 0c3 0 5 1 7 3 2 1 2 4 2 6z m37 207l0-271-256 0 0 271c0 4 1 8 2 12 1 3 3 6 4 7 2 2 3 3 3 3l238 0c0 0 1-1 3-3 1-1 3-4 4-7 1-4 2-8 2-12z m-192-307l128 0-14-34c-1-1-3-2-5-3l-90 0c-2 1-4 2-5 3z m265 9l0 18c0 3-1 5-2 7-2 1-4 2-7 2l-27 0 0 271c0 16-5 30-14 41-9 12-20 17-32 17l-238 0c-12 0-23-5-32-16-9-11-14-25-14-41l0-272-27 0c-3 0-5-1-7-2-1-2-2-4-2-7l0-18c0-3 1-5 2-7 2-1 4-2 7-2l88 0 20-48c3-7 8-13 16-18 7-5 15-7 22-7l92 0c7 0 15 2 22 7 8 5 13 11 16 18l20 48 88 0c3 0 5 1 7 2 1 2 2 4 2 7z"/>
    </symbol>
</svg>
<div class="container">
    <!-- Steps Breadcrumb -->
    <ul class="wrap steps">
        <li class="steps__item is-active"><div class="steps__label"><span>Step</span></div></li>
        <li class="steps__item"><div class="steps__label"><span>Step</span></div></li>
        <li class="steps__item"><div class="steps__label"><span>Step</span></div></li>
    </ul>

    <!-- Add Colleagues Widget -->
    <!-- strings between double brackets are supposed to be dynamic generated content -->
    <section class="wrap">
        <h1 class="mega margin b">Add colleagues to your company</h1>

        <div class="box">
            <form class="form" action="" method="post">
                <div class="form__header">
                   <p>You can add <b>{{10 colleagues}}</b> to your company.</p>
                    <p>You can up to 10 company members, and there are currently {{0}}.</p>
                </div>
                <div class="form__body>">
                    <ul class="entries-list">
                        <li class="entries-list__item">
                            <div class="form__field form__field--text">
                                <label for="colleague-name">Name</label>
                                <input type="text" id="colleague-name" name="colleague-name" placeholder="Colleague Name" required>
                            </div>
                            <div class="form__field form__field--email">
                                <label for="colleague-email">Email</label>
                                <input type="email" id="colleague-email" name="colleague-email" placeholder="name@email.com" required>
                            </div>
                            <div class="form__field form__field--icon">
                                <a class="btn btn--w-icon btn--mute btn--small" title="Remove">
                                    <svg class="icon-remove"><use xlink:href="#icon-remove"></use></svg>
                                    <span class="btn__label">remove</span>
                                </a>
                            </div>
                        </li>
                        <li class="entries-list__item">
                            <div class="form__field form__field--text">
                                <label for="colleague-name">Name</label>
                                <input type="text" id="colleague-name" name="colleague-name" placeholder="Colleague Name" required>
                            </div>
                            <div class="form__field form__field--email">
                                <label for="colleague-email">Email</label>
                                <input type="email" id="colleague-email" name="colleague-email" placeholder="name@email.com" required>
                            </div>
                            <div class="form__field form__field--icon">
                                <a class="btn btn--w-icon btn--mute btn--small" title="Remove">
                                    <svg class="icon-remove"><use xlink:href="#icon-remove"></use></svg>
                                    <span class="btn__label">remove</span>
                                </a>
                            </div>
                        </li>
                        <li class="entries-list__item">
                            <div class="form__field form__field--text">
                                <label for="colleague-name">Name</label>
                                <input type="text" id="colleague-name" name="colleague-name" placeholder="Colleague Name" required>
                            </div>
                            <div class="form__field form__field--email">
                                <label for="colleague-email">Email</label>
                                <input type="email" id="colleague-email" name="colleague-email" placeholder="name@email.com" required>
                            </div>
                            <div class="form__field form__field--icon">
                                <a class="btn btn--w-icon btn--mute btn--small" title="Remove">
                                    <svg class="icon-remove"><use xlink:href="#icon-remove"></use></svg>
                                    <span class="btn__label">remove</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <a class="entries-list__action">+ add another colleague</a>
                </div>
                <div class="form__actions">
                    <!-- Reset buttons can be seen as bad UX practice. We should probably consider a confirmation message before resetting the form. (or even its existence at all) -->
                    <button type="reset" class="btn btn--ghost" title="reset entries">reset</button>
                    <button type="submit" class="btn btn--pop" title="submit entries">add {{3}} colleagues</button>
                </div>
                <div class="form__notes">
                    <div class="form__field form__field--checkbox">
                        <input type="checkbox" id="notify-checkbox">
                        <label for="notify-checkbox">Notify colleagues by email</label>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Existing Colleagues Widget -->
    <!-- strings between double brackets are supposed to be dynamic generated content -->
    <section class="wrap">
        <h1 class="kilo margin b">Existing colleagues</h1>
        <ul class="entries-list">
            <li class="entries-list__item">
                <div class="entry">
                    <h3 class="deca">{{Name}} ({{name@email.com}})</h3>
                    <a title="Delete"><svg class="icon-delete"><use xlink:href="#icon-delete"></use></svg></a>
                </div>
            </li>
            <li class="entries-list__item">
                <div class="entry">
                    <h3 class="deca">{{Name}} ({{name@email.com}})</h3>
                    <a title="Delete"><svg class="icon-delete"><use xlink:href="#icon-delete"></use></svg></a>
                </div>
            </li>
            <li class="entries-list__item">
                <div class="entry">
                    <h3 class="deca">{{Name}} ({{name@email.com}})</h3>
                    <a title="Delete"><svg class="icon-delete"><use xlink:href="#icon-delete"></use></svg></a>
                </div>
            </li>
            <li class="entries-list__item">
                <div class="entry">
                    <h3 class="deca">{{Name}} ({{name@email.com}})</h3>
                    <a title="Delete"><svg class="icon-delete"><use xlink:href="#icon-delete"></use></svg></a>
                </div>
            </li>
        </ul>
    </section>

</div>

<footer class="footer">
    <div class="container">
        <nav class="footer-nav">
            <a class="footer-nav__link" title="">Footer link</a>
            <a class="footer-nav__link" title="">Footer link</a>
            <a class="footer-nav__link" title="">Footer link</a>
        </nav>
    </div>
</footer>

<!-- <script src="js/app.js"></script> -->

</body>
</html>
